.Header img{
    height: 100px;
}

.Header{
    text-align: left;
    position: fixed;
    top: 20px;
    width: 66%;
    margin-bottom: 100px;
    z-index:1;
    line-height: 200px;
    margin-left: 300px;
}

.Header nav{
    background-color: lightgrey;
    border-radius: 10px;
    line-height: 100px;
    font-size: 20px;
    
    
}

nav a{
    text-decoration: none;
    color:rgba(116,166,219,255);
    margin-right: 20px;
    padding: 10px;
}

nav a:hover {
    background-color: gray;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

h3{
    text-align: center;
    padding-bottom: 5px;
    color: rgba(116,166,219,255);
}