Card img{
    height: 100px;
}

.player-container{
    display: flex;
    
}

.single-player{
    flex-direction: row;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 10px 5px gray;
    margin: 10px;
    padding: 15px;
    width: 300px;
}

.single-player img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: goldenrod;
}