.selected{
  position: fixed;
  margin-top: 20px;
  margin-bottom: 20px;
  
  margin-right: 10px;
  padding-top: 10px;
  z-index:1;
  border: 1px solid lightgrey;
  background-color: lightgrey;
  border-radius: 10px;
  text-align: left;
  width: 250px;
  
}

